<font size="5">Numpy Challenge</font>

In [15]:
import numpy as np
import pandas as pd

In [23]:
np.random.seed(100)
arr = np.random.randint(1,11,size=(6, 10))
arr

array([[ 9,  9,  4,  8,  8,  1,  5,  3,  6,  3],
       [ 3,  3,  2,  1,  9,  5,  1, 10,  7,  3],
       [ 5,  2,  6,  4,  5,  5,  4,  8,  2,  2],
       [ 8,  8,  1,  3, 10, 10,  4,  3,  6,  9],
       [ 2,  1,  8,  7,  3,  1,  9,  3,  6,  2],
       [ 9,  2,  6,  5,  3,  9,  4,  6,  1, 10]])

In [26]:
count_mat = np.zeros((6,10))
for i in range(0,len(arr)):
    for k in range(1,11):
        count = 0
        for j in arr[i]:
            if j == k:
                count += 1 
            count_mat[i,k-1] = count
count_mat.astype(int)

array([[1, 0, 2, 1, 1, 1, 0, 2, 2, 0],
       [2, 1, 3, 0, 1, 0, 1, 0, 1, 1],
       [0, 3, 0, 2, 3, 1, 0, 1, 0, 0],
       [1, 0, 2, 1, 0, 1, 0, 2, 1, 2],
       [2, 2, 2, 0, 0, 1, 1, 1, 1, 0],
       [1, 1, 1, 1, 1, 2, 0, 0, 2, 1]])

<font size="5">Pandas Challenge</font>

In [27]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

In [28]:
df.head()

  Manufacturer    Model     Type  Min.Price  Max.Price
0        Acura  Integra    Small       12.9       18.8
1          NaN   Legend  Midsize       29.2       38.7
2         Audi       90  Compact       25.9       32.3
3         Audi      100  Midsize        NaN       44.6
4          BMW     535i  Midsize        NaN        NaN

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
Manufacturer    89 non-null object
Model           92 non-null object
Type            90 non-null object
Min.Price       86 non-null float64
Max.Price       88 non-null float64
dtypes: float64(2), object(3)
memory usage: 3.8+ KB

In [32]:
df.update(df[['Manufacturer','Model','Type']].fillna('missing'))
df.head()

  Manufacturer    Model     Type  Min.Price  Max.Price
0        Acura  Integra    Small       12.9       18.8
1      missing   Legend  Midsize       29.2       38.7
2         Audi       90  Compact       25.9       32.3
3         Audi      100  Midsize        NaN       44.6
4          BMW     535i  Midsize        NaN        NaN

In [33]:
# df['index']=df['Manufacturer'].values+'_'+df['Model'].values+'_'+df['Type'].values
# df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 5 columns):
Manufacturer    93 non-null object
Model           93 non-null object
Type            93 non-null object
Min.Price       86 non-null float64
Max.Price       88 non-null float64
dtypes: float64(2), object(3)
memory usage: 3.8+ KB

In [9]:
df.index=df['Manufacturer'].values+'_'+df['Model'].values+'_'+df['Type'].values
df.head()

                       Manufacturer    Model     Type  Min.Price  Max.Price
Acura_Integra_Small           Acura  Integra    Small       12.9       18.8
missing_Legend_Midsize      missing   Legend  Midsize       29.2       38.7
Audi_90_Compact                Audi       90  Compact       25.9       32.3
Audi_100_Midsize               Audi      100  Midsize        NaN       44.6
BMW_535i_Midsize                BMW     535i  Midsize        NaN        NaN